---
 const personalImageAlt = "Arturo Marin"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-500 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo José Arturo Marín Ramos. Durante mi trayectoria académica en Ingeniería de Sistemas en la Universidad Nacional del Centro del Perú, recibí la <strong
        >Beca Permanencia de PRONABEC en reconocimiento a mi excelencia académica y compromiso con los estudios.</strong
      >.
    </p>

    <p>
      Mi experiencia incluye asistir a los talleres <strong>TaRecDa en Piura y Machala</strong
        >, donde adquirí conocimientos prácticos en ciencia de datos y participé en el desarrollo de una aplicación móvil para la detección de enfermedades en el cacao utilizando inteligencia artificial. Estos talleres, auspiciados por <strong
        >Rice University y Google Research</strong>, me brindaron valiosas oportunidades para colaborar con investigadores internacionales.
 
    </p>
    <p>He trabajado en la <strong>Oficina de Tecnologías de la Información de la UNCP</strong
      >, donde adquirí experiencia en el mantenimiento y gestión de sistemas informáticos. Además, participé en el desarrollo e implementación de una <strong>plataforma educativa en la I.E. Almirante Miguel Grau</strong>, contribuyendo a mejorar el acceso a la educación y el aprendizaje a distancia para los estudiantes.</p>

    <p>
      Mis habilidades abarcan el desarrollo móvil con Dart y Flutter, desarrollo web, Python, SQL, y herramientas de Microsoft Office y Power BI. 
      Actualmente, busco seguir desarrollando mis competencias y contribuir a proyectos innovadores en el campo de la tecnología y la ciencia de datos
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-green-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


